#main {	
	background-color: #5EC05E;
	float: left;
	width: 438px;
	padding-left: 10px;
	border-style: solid;
	border-color: yellow;
	background: -webkit-linear-gradient(top,  #325532 0%, #599159 50%,#5D9B5D 50%,#276B27 100%); /* Chrome10+,Safari5.1+ */
}
#header {
	background-color: #9AD663;
	height: 150px;
	padding-left: 10px;
	border-style: solid;
	border-color: yellow;
	width: 960;
	background: -webkit-linear-gradient(top,  #000000 0%,#C6FF90 50%,#1F221C 50%,#A8EE65 100%); /* Chrome10+,Safari5.1+ */
}	
#order-form label {
	width: 150px;
	float: left;
	color: #A72C2C;
	font-style: italic;
	padding-left: 10px;
}
#header h1 {
	color: green;
	top: 15px;
	left: 15px;
}
#sidebar {
	float: right;
	background-color: #5EC05E;
	border-style: solid;
	border-color: yellow;
	width: 400;
	background: -webkit-linear-gradient(top,  #000000 0%,#C6FF90 50%,#6773FD 50%,#3C8344 100%); /* Chrome10+,Safari5.1+ */
}
#image {
	float: left;
}
#header h1 {
	text-align: left;
	padding: 4px;
	margin-right: 24px;
	float: right;
	padding-right: 203px;
}	
#wrapper {
	margin: 0 auto;
	width: 960px;
}
#footer {
	background-color: #9AD663;
	color: #FFE000;
	font-style: italic;
	font-weight: bold;
	clear: both;
	height: 50px;
	padding-left: 10px;
	border-style: solid;
	border-color: yellow;
	background: -webkit-linear-gradient(top,  #110F0F 0%,#65C588 50%,#A0A5A3 50%,#455E47 100%); /* Chrome10+,Safari5.1+ */
}
#footer a {
	color: #CC0000;
	margin: 0 auto;
	padding-right: 442px; 
	float: right;
	padding-top: 15px;
}
#order-form .subtitle {
	display: block;
	width: 100%;
}	
#order-form .centre {
	width: 120px;
}
#viografiko {
	padding-left: 130px;
}
#sidebar .vio {
	padding-left: 20px;
}
#order-form .field {
	border: 2px solid red;
	cursor: pointer;
}
#sidebar .field {
	border: 2px solid red;
	cursor: pointer;
}
.picture {
	cursor: pointer;
}	